
<!-- responsive images section -->
<section id="about-main">
    <br>
    <!-- container for responsive images -->
    <div id="container">
        <div class="container">
            <div class="row">
                <div class="container text-center">
                    <div class="home-glyph-container">
                        <div class="col-xs-3 col-sm-2 col-sm-offset-2 col-md-2 col-md-offset-3">
                            <span class="home-glyph home-glyph-small icon-tablet"></span>
                        </div>
                        <div class="col-xs-6 col-sm-4 col-md-2">
                            <span class="home-glyph home-glyph-main icon-display"></span>
                        </div>
                        <div class="col-xs-3 col-sm-2 col-md-2">
                            <span class="home-glyph home-glyph-small icon-mobile2"></span>
                        </div>
                    </div>
                </div>
            </div>

            <!-- about page title -->
            <div class="row">
                <div class="container">
                    <div class="col-sm-6 col-sm-offset-3 col-md-6 col-md-offset-3 text-center">
                        <h3 class="lead">Calli is a cloud-based web application accessible on desktops, tablets and mobile.</h3>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>

<hr>

<!-- about page presentation section -->
<section id="about-presentation">

    <!-- pupils info section -->
    <div class="container text-center">
        <div class="row">
            <h1>Add pupils</h1>
            <br>
        </div>
        <div class="row">
            <div class="col-sm-6">
                <img class="img-responsive img-centered" src="./images/about/registerPupils.jpg" alt="Register pupils in bulk" />
            </div>
            <div class="col-sm-6">
                <img class="img-responsive img-centered" src="./images/about/pupilProgress1.jpg" alt="Manage pupils and view progress" />
            </div>
        </div>

    </div>

    <hr>

    <!-- Games info section -->
    <div class="container text-center">
        <div class="row">
            <h1>Create Games</h1>
            <br>
        </div>
        <div class="row">
            <div class="col-sm-6">
                <img class="img-responsive img-centered" src="./images/about/createGames1.jpg" alt="Create games of different types and levels and add translations" />

            </div>
            <div class="col-sm-6">
                <img class="img-responsive img-centered" src="./images/about/createGames2.jpg" alt="Fill in questions and answers" />
            </div>
        </div>
    </div>

    <hr>

    <!-- TODO PLAY GAMES ON ABOUT PAGE -->

    <!-- pupil progress info section -->
    <!-- TODO VIEW PROGRESS ON ABOUT PAGE -->
    <div class="container text-center">
        <div class="row">
            <h1>View Progress</h1>
            <br>
        </div>
        <div class="row">
            <div class="col-sm-6">
                image 1
            </div>
            <div class="col-sm-6">
                image 2
            </div>
        </div>
    </div>

</section>

<hr>

<!-- about end with button linking to register page -->
<section id="about-end">
    <div class="container text-center">
        <button class="btn btn-info btn-lg" ng-click="directToRegister()">Get started now</button>

    </div>
</section>

<br>