<div class="col-sm-6 col-sm-offset-3">
    <h1 class="text-center">Add Scenario Page</h1>


    <form id="scenario-form" name="scenario-form" ng-submit="submitScenario()" role="form">
        <div class="form-group">
            <label>Scenario Name</label>
            <input class="form-control" type="text" name="name" ng-model="name" required="required">
        </div>
        <div class="form-group">
            <label>Scenario Type</label>
            <select class="form-control" ng-change="setQuestionLimit()" name="type" ng-model="type" required="required">
                <option value="Conversation" selected="selected">Conversation</option>
                <option value="Picture" selected="selected">Picture</option>
                <option value="Word" selected="selected">Word</option>
            </select>
        </div>
        <div class="form-group">
            <label>Scenario Level</label>
            <select class="form-control" name="level" ng-change="setQuestionLimit()" ng-model="level" required="required">
                <option value="1" selected="selected">1</option>
                <option value="2" selected="selected">2</option>
                <option value="3" selected="selected">3</option>
            </select>
        </div>

        <div class="form-group">
            <label>Add Translations</label>
            <input type="checkbox" name="enableTranslations" ng-model="enableTranslations" value="enabled">
        </div>

        <div id="question-container" ng-show="type && level">
            <hr>
            <div class="form-group">
                <label>QUESTION {{currentQuestionIndex+1}}</label>
                <input class="form-control" type="text" name="question" ng-model="currentQuestion.question" required="required">
            </div>
            <div class="form-group" ng-show="enableTranslations">
                <label>Translation</label>
                <input class="form-control" type="text" name="question-translation" ng-model="currentQuestion.translation" required="required">
            </div>
            <div class="form-group">
                <label>Answer 1</label>
                <input class="form-control" type="text" name="answer1" ng-model="currentQuestion.answers[0].answer" required="required">
            </div>
            <div class="form-group">
                <label>Answer 2</label>
                <input class="form-control" type="text" name="answer2" ng-model="currentQuestion.answers[1].answer" required="required">
            </div>
            <div class="form-group" ng-show="level > 1">
                <label>Answer 3</label>
                <input class="form-control" type="text" name="answer3" ng-model="currentQuestion.answers[2].answer" required="required">
            </div>
            <div class="form-group" ng-show="type !== 'Conversation' ">
                <label>Choose correct answer</label>
                <span><input type="radio" name="correct-answer" ng-model="correctAnswer" value="0">1</span>
                <span><input type="radio" name="correct-answer" ng-model="correctAnswer" value="1">2</span>
                <span ng-show="level > 1"><input type="radio" name="correct-answer" ng-model="correctAnswer" value="2">3</span>
            </div>
            <hr>
        </div>

        <div class="question-controls text-right" ng-show="type && level">
            <button class="btn btn-info" type="button" ng-show="currentQuestionIndex > 0" ng-click="decQuestion()">Previous</button>
            <button class="btn btn-info" type="button" ng-show="currentQuestionIndex < lastQuestionIndex" ng-click="incQuestion()">Next</button>
            <button class="btn btn-danger" type="button" ng-show="currentQuestionIndex === lastQuestionIndex" ng-click="finish()">Finish</button>

        </div>

    </form>
    <!-- conversation scenario form
    <form id="scenario-form" name="scenario-form" ng-submit="submitScenario()" role="form" enctype="multipart/form-data">

        <div class="form-group">
            <label>Scenario Name</label>
            <input class="form-control" type="text" name="name" ng-model="name" required="required">
        </div>

        <div class="form-group">
            <label>Scenario Type</label>
            <select class="form-control" name="type" ng-model="type" ng-change="buildQuestionsForm()" required="required">
                <option value="Conversation" selected="selected">Conversation</option>
                <option value="Picture" selected="selected">Picture</option>
                <option value="Word" selected="selected">Word</option>
            </select>
        </div>

        <div class="form-group">
            <label>Scenario Level</label>
            <select class="form-control" name="level" ng-model="level" ng-change="buildQuestionsForm()" required="required">
                <option value="1" selected="selected">1</option>
                <option value="2" selected="selected">2</option>
                <option value="3" selected="selected">3</option>
            </select>
        </div>

        <div class="form-group" ng-if="level && (type === 'Conversation' || type === 'Picture') ">
            <button type="button" class="btn btn-default" ngf-select ng-model="picture" name="picture" ngf-pattern="'image/*'"
                    ngf-accept="'image/*'" ngf-max-size="10MB" ngf-min-height="100" ngf-resize="{width: 300, height: 300}">Select Picture</button>
            <img class="img-responsive" ngf-thumbnail="picture || '/images/default-avatar.png' " >
        </div>

        <hr>

        <div id="questions-container" ng-show="level > 0"></div>
        <input type="submit" id="submit-scenario" class="hidden">
    </form>

    <div class="text-right">
        <button class="btn btn-default" ng-click="cancel()">Cancel</button>
        <button type="submit" form="scenario-form" class="btn btn-info">Add Game Scenario</button>
    </div-->


</div>