<div class="container">


<div class="col-sm-6 col-sm-offset-3">
    <h1 class="text-center">Add Scenario Page</h1>


    <form id="scenario-form" name="scenario-form" ng-submit="submitScenario()" role="form">
        <div class="form-group">
            <label>Scenario Name</label>
            <input class="form-control" type="text" name="name" ng-model="name" required="required">
        </div>
        <div class="form-group">
            <label>Scenario Type</label>
            <select class="form-control" ng-change="setQuestionLimit()" name="type" ng-model="type" required="required">
                <option value="Conversation" selected="selected">Conversation Game</option>
                <option value="Picture" selected="selected">Picture Game</option>
                <option value="Word" selected="selected">Word Game</option>
            </select>
        </div>
        <div class="form-group">
            <label>Scenario Level</label>
            <select class="form-control" name="level" ng-change="setQuestionLimit()" ng-model="level" required="required">
                <option value="1" selected="selected">1 - Up to 5 Questions, 2 answers each</option>
                <option value="2" selected="selected">2 - Up to 10 Questions, 3 answers each</option>
                <option value="3" selected="selected">3 - Up to 15 Questions, 3 answers each</option>
            </select>
        </div>

        <div class="form-group">
            <label>Add Translations</label>
            <input type="checkbox" name="enableTranslations" ng-model="enableTranslations" value="enabled">
        </div>

        <div id="question-container" ng-show="type && level">
            <hr>
            <div class="form-group">
                <label>QUESTION {{currentQuestionIndex+1}}</label>
                <input class="form-control" type="text" name="question" ng-model="currentQuestion.question" required="required">
            </div>
            <div class="form-group" ng-show="enableTranslations">
                <label>Translation</label>
                <input class="form-control" type="text" name="question-translation" ng-model="currentQuestion.translation" required="required">
            </div>
            <div class="form-group">
                <label>Answer 1</label>
                <input class="form-control" type="text" name="answer1" ng-model="currentQuestion.answers[0].answer" required="required">
            </div>
            <div class="form-group">
                <label>Answer 2</label>
                <input class="form-control" type="text" name="answer2" ng-model="currentQuestion.answers[1].answer" required="required">
            </div>
            <div class="form-group" ng-show="level > 1">
                <label>Answer 3</label>
                <input class="form-control" type="text" name="answer3" ng-model="currentQuestion.answers[2].answer" required="required">
            </div>
            <div class="form-group" ng-show="type !== 'Conversation' ">
                <label>Choose correct answer</label>
                <span><input type="radio" name="correct-answer" ng-model="correctAnswer" value="0">1</span>
                <span><input type="radio" name="correct-answer" ng-model="correctAnswer" value="1">2</span>
                <span ng-show="level > 1"><input type="radio" name="correct-answer" ng-model="correctAnswer" value="2">3</span>
            </div>
            <hr>
        </div>

        <div class="question-controls text-right" ng-show="type && level">
            <button class="btn btn-info" type="button" ng-show="currentQuestionIndex > 0" ng-click="decQuestion()">Previous</button>
            <button class="btn btn-info" type="button" ng-show="currentQuestionIndex < lastQuestionIndex" ng-click="incQuestion()">Next</button>
        </div>

        <div class="text-right">
            <hr>
            <button class="btn btn-danger" type="button" ng-if="currentQuestionIndex > 0 && currentQuestion.answers.length > 0" ng-click="finish()">Finish</button>
        </div>

    </form>

</div>


</div>