

<main id="home-main" class="margin-top-small">
    <div class="container">
        <main class="col-sm-6 col-sm-offset-3 text-center">
            <h1><span style="font-size: 300%" class="glyphicon glyphicon-tree-deciduous"></span></h1>
            <h1>Welcome to CALLi, a simple web tool to assist teachers with language learning!</h1>
        </main>
    </div>
</main>

<section id="home-presentation">

    <hr>
    <div id="container">
        <div class="container">
            <div class="row">
                <div class="container text-center">
                    <div class="home-glyph-container col-sm-2 col-md-offset-2 col-sm-offset-1">
                        <span class="home-glyph home-glyph-small icon-tablet"></span>
                    </div>
                    <div class="home-glyph-container col-sm-4 col-md-offset-0 col-sm-offset-1">
                        <span class="home-glyph-main icon-display"></span>
                    </div>
                    <div class="home-glyph-container col-sm-2 col-md-offset-0 col-sm-offset-1">
                        <span class="home-glyph home-glyph-small icon-mobile2"></span>
                    </div>
                </div>
            </div>

            <div class="row">
                <div class="container">
                    <div class="col-sm-6 col-sm-offset-3 text-center">
                        <h3>Fully responsive and accessible on desktops, tablets and mobile!</h3>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <hr>
</section>

<section id="home-button">
    <div class="container">
        <div class="row">
            <div class="col-xs-2 col-xs-offset-5">
                <hr>
            </div>
        </div>
    </div>
    <div class="text-center">
        <button class="btn btn-lg btn-info" ng-if="!isLoggedIn()" ng-click="registerRedirect();">Get started now!</button>
    </div>
</section>
