<div class="col-sm-6 col-sm-offset-3 col-xs-10 col-xs-offset-1">
    <h1><span class="glyphicon glyphicon-log-in"></span> Login</h1>
    <form>

        <div class="form-group">
            <label>Username</label>
            <input type="text" class="form-control" name="username" ng-model="username" required />
        </div>

        <div class="form-group">
            <label>Class</label>
            <input type="text" class="form-control" name="class" ng-model="class" required />
        </div>

        <button class="btn btn-info" ng-click="login();">Login</button>
        <p class="text-danger" ng-show="$scope.invalid-input">Error, please enter all fields!</p>
    </form>
</div>