<div class="col-sm-12 col-sm-offset-1" xmlns="">
    <span class="glyphicon glyphicon-user" ng-click="preview();"></span>
    <span class="glyphicon glyphicon-search" ng-click="mini2();"></span>
    <span class="glyphicon glyphicon-pencil" ng-click="mini3();"></span>
    <span class="glyphicon glyphicon-volume-up" ng-click="replayGame();" style="float:right;"></span>
</div>
<div id="preview-content" class="col-sm-12 col-sm-offset-0 text-center">
    <div id="preview-container" class="col-sm-6 col-sm-offset-3 text-center">
        <div id="preview-header">
            <h1>Mini Game 1</h1>
            <hr>
            <p class="text-info">Read the questions and choose an answer by clicking on it's button!</p>
        </div>
        <button id="play-button" class="btn btn-info" ng-click="initGame();">Play Now!</button>
        <div id="preview-body">
        </div>
        <button id="replay-button" class="btn btn-info" ng-click="replayGame();">Replay Game</button>
        <button id="next-button" class="btn btn-info" ng-click="mini2();">Next Game</button>

    </div>
</div>