<div id="preview-container" class="col-sm-6 col-sm-offset-3 text-center">
    <div id="preview-header">
        <h1>Let's begin learning now...</h1>
        <hr>
        <p class="text-info">Read the questions and choose an answer by clicking on it's button!</p>
    </div>
    <button id="play-button" class="btn btn-info" ng-click="initGame();">Mini-Game 1</button>
    <div id="preview-body">
    </div>
    <button id="replay-button" class="btn btn-info" ng-click="replayGame();">Replay Game</button>
</div>