<div class="text-center">
    <h1>User: <span class="text-success">{{ username }}</span></h1>
    <hr>
    <h2>Role: <span class="text-success">{{ role }}</span></h2>
    <hr>
</div>

<div class="text-center col-sm-8 col-sm-offset-2">
    <h2>Available Games:</h2>
    <table class="table table-striped">
        <thead>
        <th class="text-left">Name</th>
        <th class="text-center">Type</th>
        <th class="text-center">Level</th>
        <th class="text-center">Play</th>
        <th class="text-center">Completed</th>
        </thead>
        <tr dir-paginate="pupilGame in scenarios | itemsPerPage:5 " pagination-id="pupilGamePagination">
            <td class="text-left">{{ pupilGame.scenarioName }}</td>
            <td class="text-center">
                <span class="glyphicon glyphicon-eye-open" ng-if="pupilGame.scenarioType === 'c'"></span>
                <span class="glyphicon glyphicon-picture" ng-if="pupilGame.scenarioType === 'p'"></span>
                <span class="glyphicon glyphicon-ice-lolly-tasted" ng-if="pupilGame.scenarioType === 'w'"></span>
            </td>
            <td class="text-center">{{ getScenarioLevel(pupilGame._id) }}</td>
            <td class="text-center">
                <span class="glyphicon glyphicon-play-circle text-danger" ng-click="playScenario(pupilGame)"></span>
            </td>
            <td class="text-center">
                <span class="glyphicon glyphicon-ok text-primary" ng-show="checkScenarioCompletion(pupilGame)"></span>
                <span class="glyphicon glyphicon-remove" ng-show="!checkScenarioCompletion(pupilGame)"></span>
            </td>
        </tr>
    </table>
    <dir-pagination-controls pagination-id="pupilGamePagination" max-size="5" direction-links="true" boundary-links="true"></dir-pagination-controls>
</div>

