<div class="col-sm-6 col-sm-offset-3 col-xs-8 col-xs-offset-2">
    <h1><span class="glyphicon glyphicon-log-in"></span> Register</h1>
    <form action="#" method="post">

        <div class="form-group">
            <label>Name</label>
            <input type="text" class="form-control" name="name" placeholder="Bob Lee">
        </div>

        <div class="form-group">
            <label>Email</label>
            <input type="text" class="form-control" name="email" placeholder="boblee11@example.com">
        </div>

        <div class="form-group">
            <label>Age</label>
            <input type="text" class="form-control" name="age" placeholder="11">
        </div>

        <div class="form-group">
            <label>Password</label>
            <input type="text" class="form-control" name="password" placeholder="********">
        </div>

        <div class="form-group">
            <label>Confirm Password</label>
            <input type="text" class="form-control" name="password-2" placeholder="********">
        </div>

        <button type="submit" class="btn btn-info">Register</button>
    </form>
    <hr>
    <p>Or alternatively, <a href="/login">login here!</a></p>
</div>