<div class="col-sm-12 col-sm-offset-1" xmlns="">
    <span class="glyphicon glyphicon-volume-up" ng-click="replayGame();" style="float:right;"></span>
</div>
<div id="scenarioGame-content" class="col-sm-12 col-sm-offset-0 text-center">
    <div id="scenarioGame-container" class="col-sm-6 col-sm-offset-3 text-center">
        <div id="game-screen" class="text-center">

            <h1>Playing Scenario <span class="text-info">'{{scenario.name}}'</span></h1>
            <h2><img src="../images/sweetshop.jpg" alt="sweetshop.jpg" style="width:400px;height:275px;"></h2>
            <div id="question-container">
                <h2 id="current-question" class="text-danger"></h2>
            </div>
            <div id="answer-container">
            </div>
            <button id="replay-btn" class="btn btn-success" ng-click="gameReplay()">Replay Game</button>
            <button id="return-btn" class="btn btn-info" ng-click="profileReturn()">Return to profile</button>
        </div>
    </div>
</div>