/*-- REMOVE BOOTSTRAP'S ROUNDED CORNERS --*/
* {
    border-radius: 0 !important;
    -moz-border-radius: 0 !important;
    -webkit-border-radius: 0 !important;
}

/*== LAYOUT ==*/
html,body {
    height: 100%;
    margin: 0;
    padding: 0;
}

#container {
    min-height: 100%;
    position: relative;

}

#content {
    padding-bottom: 60px; /*MUST AT LEAST SAME AS FOOTER HEIGHT!*/

}
#wordGame-content {
    background-image: url(../images/puzzle.jpg);
}
#wordGame-container {
    background-color:white;
}
#pictureGame-content {
    background-image: url(../images/background5.jpg);
}
#scenarioGame-container {

    background-color:white;
}
#scenarioGame-content {
    background-image: url(../images/background5.jpg);
}
#pictureGame-container {

    background-color:white;
}
#conversationGame-content {
    background-image: url(../images/clouds.jpg);
    background-color:#00b3ee;
}
#conversationGame-body {
     background-color: white;

 }
#conversationGame-container {

    background-color: white;

}
.navbar-inverse {
    margin-bottom: 60px;
}
#div1 {
    float: left;
    width:200px;
    height:70px;
    margin:10px;
    padding:10px;
    border:1px
    solid #aaaaaa;
}

.navbar-inverse {
    margin-bottom: 60px;

}
.glyphicon.glyphicon-user {
    font-size: 40px;
    float: left;
}
.glyphicon.glyphicon-search {
    font-size: 40px;
    float: left;
}
.glyphicon.glyphicon-pencil {
    font-size: 40px;
    float: left;
}
.glyphicon.glyphicon-volume-up {
    font-size: 40px;
    float: left;
}

#footer {
    position: absolute;
    height: 30px;
    width: 100%;
    bottom: 0;
}

@media screen and (min-width: 768px) {
    .modal-dialog {
        width: 600px;
    }
}

.modal-dialog {
    width: 80%;
}
/*--------*/


/*== STYLE ==*/

.glyphicon-blue {
    color: #5bc0de;
}

/*--------*/

