/*-- REMOVE BOOTSTRAP'S ROUNDED CORNERS --*/
* {
    border-radius: 0 !important;
    -moz-border-radius: 0 !important;
    -webkit-border-radius: 0 !important;
}

.navbar-inverse{
    margin-bottom: 60px;
}